.textArea {
    width: 70%;
    height: fit-content;
    margin: 2rem 1rem;
    padding: 1rem;
    display: block;
}

.output {
    border: 1px solid black;
    height: 10vh;
    width: 70%;
    margin: 2rem 1rem;
    padding: 1rem;
    display: block;
}

#btn-translate {
margin: 1rem;
}